@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    margin-top: 30px;
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'cabecalho'
    'conteudo'
    'rodape';
    row-gap: 30px;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 119, 255, 0.664);
    font-family: 'Times New Roman', Times, serif;
}

#header {
    grid-area: cabecalho;
}

#main {
    grid-area: conteudo;
    border: 1px solid black;
    padding: 25px;
    display: flex;
    gap: 10px;
    flex-flow: column wrap;
    font-size: 25px;
    border-radius: 15px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
}

#footer {
    grid-area: rodape;
}

.center-content {
    text-align: center;
}

.button {
    width: 80px;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
}

.input-number {
    width: 150px;
    height: 36px;
    font-size: 16px;
}

.font-external {
    font-style: italic;
    color: white;
}

#valores {
    width: 150px;
}